@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "animation/animation";
@import "base/base";
@import "pages/homepage";
@import "pages/menupages";



