@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "pages/homepage";
@import "pages/menupages";

/*base*/

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

  
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

.header {
  &__logo {
    font-family: "Shrikhand";
    font-weight: 300;
    margin: 0;
    text-align: center;
    position: relative;
  }
}

.footer {
  background-color: #353535;
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  &__logo {
    color: white;
    font-family: "Shrikhand";
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__listmarg {
    margin-top: 0.5rem;
  }

  &__link {
    text-decoration: none;
    color: white;
  }

  &__icon {
    margin-right: 1rem;
    width: 0.8rem;
  }
}

/* homepage */

.localisation {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: rgb(243, 243, 243);
    font-size: 1.2rem;
    position: relative;

    &__icon {
        margin-right: 1rem;
    }

    &__text {
        font-weight: 700;
    }
}

.explore {
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin-bottom: 2.5rem;
  }

  &__button {
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  
}

.fonctionnement {
  padding: 1rem;

  &__steps {
    margin: 0;
    padding: 0;
  }

  &__step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
  }
  
  &__icon {
      margin-right: 1rem;
  }
}

.restaurants {
    background-color: #f6f6f6;
}

.container {
    padding: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.card {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
  
    &__img {
      height: 11rem;
      width: 100%;
      border: transparent solid 0px;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
    }

    &__thumbnail {
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
      background-color: $color-tertiary;
    } 

    &__second {
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      margin: 0;
      margin-bottom: 0.25rem;
    }
  
    &__subtitle {
      margin: 0;
    }

}


/* menupages */

.header {
  &--backarrow {
    position: relative;
  }

  &__arrow {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display:flex;
    align-items:center;
    justify-content:center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: black;
  }
}


.restoImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;

  &__header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-family: "Shrikhand";
  }

}

.submenus {
  display: grid;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;

  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    
  }
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  

  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &__title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__subtitle {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &__validation {
    background-color: $color-tertiary;
    margin: 0 -5rem 0 1rem;
    width: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
  }
}
