@keyframes appear {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes loader{
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
      z-index: -10;
    }
  }
