/*
.loader {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.90);
  position: fixed;
  z-index:1;
  animation: loader 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  display:flex;
  align-items:center;
  justify-content:center;
  
  
  &__border {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1rem solid transparent;
    border-top: 1rem solid $color-primary;
    border-bottom: 1rem solid $color-secondary;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: loader 2s ease-in-out;
  }

  &__center {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border-color: black;
    background-color: $color-tertiary;
  }
}
*/

.localisation {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: rgb(243, 243, 243);
    font-size: 1.2rem;
    position: relative;

    &__icon {
        margin-right: 1rem;
    }

    &__text {
        font-weight: 700;
    }
}

.explore {
  padding: 2rem 2rem 4rem 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin-bottom: 2.5rem;
  }

  &__button {
    @include button(primary);
  }
}

.fonctionnement {
  padding: 1rem;

  &__steps {
    margin: 0;
    padding: 0;

  }

  &__step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
  }

  &__icon {
      margin-right: 1rem;
  }
}

.restaurants {
    background-color: #f6f6f6;
}

.container {
    padding: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-bottom: 2.5rem;
}

.card {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
  
    &__img {
      height: 11rem;
      width: 100%;
      border: transparent solid 0px;
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
    }

    &__thumbnail {
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
      background-color: $color-tertiary;
    } 

    &__second {
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
      margin: 0;
      margin-bottom: 0.25rem;
    }
  
    &__subtitle {
      margin: 0;
    }

    &__like {
      background-color: white!important;
    }

}