.header {
    &--backarrow {
      position: relative;
    }
  
    &__arrow {
      position: absolute;
      left: 2rem;
      height: 2rem;
      width: 2rem;
      top: 50%;
      display:flex;
      align-items:center;
      justify-content:center;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: black;
    }
  }
  
  
  .restoImg {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
  }
  
  .menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    position: relative;
  
    &__header {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__title {
      font-family: "Shrikhand";
    }
  
  }
  
  .submenus {
    display: grid;
  }
  
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  
    &__title {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.5rem;
      
    }
  }
  
  .menuItem {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    
  
    &__header {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }
  
    &__title {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__subtitle {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__price {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 0.5rem;
    }
  
    &__validation {
      background-color: $color-tertiary;
      margin: 0 -5rem 0 1rem;
      width: 4rem;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }