.header {
    &--backarrow {
      position: relative;
    }
  
    &__arrow {
      position: absolute;
      left: 2rem;
      height: 2rem;
      width: 2rem;
      top: 50%;
      display:flex;
      align-items:center;
      justify-content:center;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: black;
    }
  }
  
main {
  background-color: #f6f6f6;
}
  .restoImg {
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
    
  }
  
  .menu {
    margin-top: -4rem;
    margin-bottom: -2rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    position: relative;
  
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 1rem;
    }
  
    &__title {
      font-family: "Shrikhand";
    }

    &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    background-color: black;
    

    &:hover::before {
      opacity: 1;
    }

    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      height: 100%;
      width: 100%;
      background:linear-gradient($color-primary,$color-secondary);
    }
  }

    &__like {
      transition-duration: .25s;
      background-color: #f6f6f6;
      position: absolute;
      height: 100%;
      width: 100%;
      display:flex;
      align-items:center;
      justify-content:center;
      mix-blend-mode: lighten;
    }

    &__btn:hover {
      .menu__like {
        &--noBg {
          opacity: 0;
        }
      }
    }
  }
  
  .submenus {
    display: grid;
    
  }
  
  .submenu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    

  
    &__title {
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.5rem;
      font-weight: 300;

      &::after {
        content: "";
        width: 3rem;
        height: 0.25rem;
        background-color: $color-tertiary;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  
  .menuItem {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    animation: appear 1.2s;
    animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation-fill-mode: both;
    
    
    &__header {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }
  
    &__title {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__subtitle {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__price {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 0.5rem;
    }
  
    &__validation {
      background-color: $color-tertiary;
      margin: -1rem -5rem -1rem 1rem;
      width: 4rem;
      display:flex;
      align-items:center;
      justify-content:center;
    }

    &:hover &__validation {
      margin-right: -1rem;
      transition-duration: 0.5s;
    }

    &__wrapIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: white;
      display:flex;
      align-items:center;
      justify-content:center;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: 0.5s;
    }

    &:hover &__wrapIcon {
      transform: rotate(0);
    }

    &__icon {
      color: $color-tertiary;
    }
  }

  .orderBtn {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
  }

  .commandBtn {
    @include button(primary);
    margin-bottom: 1.5rem;
  }